.DS_Store
.DS_Store?
*.swp
*.Trashes
xcuserdata
xcshareddata
build
*.pbxuser
*.perspective
*.perspectivev3
*.sdf
*.suo
*.psess
*.vsp
*.tlog
*.user
*.app
*.opensdf
*.component
*.VST
*.vst
*.VST3
*.vst3
Debug
Release
