//------------------------------------------------------------------------
// Project     : VST SDK
//
// Category    : Helpers
// Filename    : public.sdk/source/vst/auwrapper/again/Info.plist
// Created by  : Steinberg, 12/2007
// Description : VST 3 -> AU Wrapper
//
//-----------------------------------------------------------------------------
// LICENSE
// (c) 2017, Steinberg Media Technologies GmbH, All Rights Reserved
//-----------------------------------------------------------------------------
// Redistribution and use in source and binary forms, with or without modification,
// are permitted provided that the following conditions are met:
// 
//   * Redistributions of source code must retain the above copyright notice, 
//     this list of conditions and the following disclaimer.
//   * Redistributions in binary form must reproduce the above copyright notice,
//     this list of conditions and the following disclaimer in the documentation 
//     and/or other materials provided with the distribution.
//   * Neither the name of the Steinberg Media Technologies nor the names of its
//     contributors may be used to endorse or promote products derived from this 
//     software without specific prior written permission.
// 
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
// ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
// WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
// IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
// INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
// BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
// DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
// LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
// OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE  OF THIS SOFTWARE, EVEN IF ADVISED
// OF THE POSSIBILITY OF SUCH DAMAGE.
//-----------------------------------------------------------------------------

#include "audiounitconfig.h"

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>kAudioUnitBundleIdentifier</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>

	/*
		The "AudioUnit SupportedNumChannels" key is only necessary if you build an effect not an instrument.
		You should describe all supported channel configurations.
		This example says that it supports Stereo/Stereo or Mono/Mono.
	*/

	<key>AudioUnit SupportedNumChannels</key>
	<array>
		<dict>
			<key>Outputs</key>
			<string>2</string>
			<key>Inputs</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Outputs</key>
			<string>0</string>
			<key>Inputs</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Outputs</key>
			<string>1</string>
			<key>Inputs</key>
			<string>1</string>
		</dict>
	</array>

	<key>AudioUnit Version</key>
	<string>kAudioUnitVersion</string>

	/*
		Support for the new AUPlugIn model in Mac OS X 10.7
	*/
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>kAUPluginDescription</string>
			<key>factoryFunction</key>
			<string>AUWrapperFactory</string>
			<key>manufacturer</key>
			<string>kAUPluginManufacturer</string>
			<key>name</key>
			<string>kAUPluginName</string>
			<key>subtype</key>
			<string>kAUPluginSubType</string>
			<key>type</key>
			<string>kAUPluginType</string>
			<key>version</key>
			<integer>kAudioUnitVersion</integer>
		</dict>
	</array>

</dict>
</plist>
